@import './base.css';
body {
  overflow-y: auto;     
  overflow-x: hidden;    
  background: #efe7ff;   
  color: #3b055c;
  font-family: "Segoe UI", sans-serif;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgba(12, 128, 78, 0.944);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.table-container {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: auto;
}